<br>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Edit configuration of <%= current_user.username.to_s.humanize %></h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <form role="form">
      <div class="box-body">
        <div class="form-group col-xs-6">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-group col-xs-6">
          <%= f.label :new_password %><i> (empty if not change)</i><% if @minimum_password_length %>
              <em><%= @minimum_password_length %> minimum characters </em>
            <% end %>
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>
        <div class="form-group col-xs-6">
          <%= f.label :current_password %><i> (We need the current password to confirm the changes)</i>
          <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
        </div>
        <div class="form-group col-xs-6">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="box-footer">
          <%= f.submit "Update", class: "btn btn-success" %>
        </div>
  <% end %>

        <div class="form-group col-xs-12">
          <h3>Delete account</h3>
          <p>Do you want to delete your account?</p>
          <%= button_to "Cancel account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "¿Estás seguro?" }, method: :delete %>
        </div>
        <br>
        <div class="form-group col-xs-6">
          <%= link_to "Back", :back, class: "btn btn-primary" %>
        </div>
      </div>
    </form>
</div>


