<div class="container">

<% competition_user = CompetitionUser.where(competition_id: @competition.id, user_id: current_user.id).first %>
<% if @competition.users.include?(current_user) %>
<h3>Leaderboard of group number <%= competition_user.group %> of "<%= @competition.titulo %>"</h3>
<div class="col-xs-9">
  <div class="box">
    <div class="box-header with-border">
      <h4 class="box-title">Ranking of predictions submitted - <b>Group <%= competition_user.group %></b></h4>
    </div>
    <% a = 0 %>
    <% cont = 0 %>

    <% if @competition.type_competition == "classification" %>
      <% inscriptions = CompetitionUser.where(:competition_id => @competition.id).order(score: :desc) %>
    <% else %>
      <% inscriptions = CompetitionUser.where(:competition_id => @competition.id).order(score: :asc) %>
    <% end %>

    <% inscriptions.each do |c| %>
      <% if c.have_score%>
        <% cont += 1 %>
      <% end %>
    <% end %>

    <% if cont == 0 %>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;No predictions submitted</h4>
      <br>
    <% else %>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">

        <tr>
          <th>#</th>
          <th>User/Team Name</th>
          <th>Team members</th>
          <th style="width: 150px">Score</th>
        </tr>

        <% inscriptions.each do |c| %>
        <tr>
          <% user = User.where(:id => c.user_id).first %>
          <% a = a+1 %>
          <% if a == 1 %>
          <td><%= a %><i class="fa fa-trophy"></td>
          <% else %>
          <td><%= a %></td>
          <% end %>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td><%= c.score %></td>
        </tr>
        <% end %>

      </table>
    </div>
    <% end %>

  </div>
</div>
<% else %>
  <h5>You don't have permissions to see this</h5>
<% end %>
</div>
