<h1>Competitions</h1><br>

<% if current_user.admin? %>
  <p>
    <%= link_to "New competition", new_competition_path, class: "btn btn-primary centerbtn"%>
  </p><br>
<% end %>

<div class="box box-info">
  <div class="box-header">
    <h3 class="box-title">Active competitions</h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
    <% unless @competitions.empty? %>
    <% @competitions.order(id: :asc).each do |competition| %>
      <tr>
      <td>
        <ul class="products-list product-list-in-box">
          <li class="item">
            <div class="col-xs-2 product-img">
              <img alt="Comp Image">
            </div>
            <div class="col-xs-6 product-info">
              <b><h4><%= link_to competition.titulo, competition_path(competition), class: "product-title" %></h4></b>
              <span class= "product-description" ><%= competition.summary %></span>
              <br>
              <% if competition.dificultad == 'Easy' %>
                <span class="label label-success"><%= competition.dificultad %></span>
              <% elsif competition.dificultad=="Medium" %>
                <span class="label label-warning"><%= competition.dificultad %></span>
              <% elsif competition.dificultad=="Expert" %>
                <span class="label label-danger"><%= competition.dificultad %></span>
              <% end %> <b> - </b>
              <span><%= competition.deadline.strftime("%d/%m/%Y") %></span> <b> - </b>
              <span class="label label-warning"><%= competition.premio %> €</span>
            </div>
            <div class="col-xs-1 text-center ">
              <%= link_to "", competition_leaderboard_path(competition), class: "ion ion-trophy comp-table-icon", style: "color: black;" %> <br>
              <span>Leaderboard</span>
            </div>
            <div class="col-xs-1 text-center">
              <%= link_to "", competition.trainingdata.url, class: "ion ion-archive comp-table-icon", style: "color: black;" %> <br>
              <span>Data</span>
            </div>
            <div class="col-xs-1 text-center">
            <% if current_user.is_enroll(current_user.id, competition.id) %>
              <%= link_to "", edit_competition_user_path(CompetitionUser.where(competition_id: competition.id).where(user_id: current_user.id).first), class: "ion ion-android-checkbox-outline comp-table-icon", style: "color: black;" %> <br>
              <span>Prediction</span>
            <% else %>
              <i class="ion ion-android-checkbox-outline comp-table-icon disabled" style= "color: grey;" title="Enroll First!" ></i><br>
              <span>Prediction</span>
            <% end %>
            </div>
            <div class="col-xs-1 text-center btn-group-vertical btn-flat" style="padding-top: 15px;">
              <% if current_user.admin? %>
                <%= link_to "", edit_competition_path(competition), class: "btn btn-primary fa fa-edit actionCompIndex"%>
                <%= link_to "", competition_path(competition), class: "btn btn-info fa fa-eye actionCompIndex" %>
                <%= link_to "", competition_path(competition), method: :delete,
                      data: {confirm: "Are you sure?"}, class: "btn btn-danger fa fa-trash-o actionCompIndex" %>
              <% else %>
                <%= link_to "More", competition_path(competition), class: "btn btn-info btn-xs" %>
              <% end %>
            </div>
          </li>
        </ul>
      </td>

      </tr>
    <% end %>
    <% end %>
    </table>
  </div>
</div>
<!-- /.box -->

