<h1>Competiciones activas</h1><br>
<p>
  <%= link_to "Nueva competición", new_competition_path, class: "btn btn-primary centerbtn"%>
</p><br>

</table>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Competiciones activas</h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Premio</th>
        <th>Fecha límite</th>
        <th>Dificultad</th>
        <th>Acciones</th>
      </tr>
      <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.titulo %></td>
        <td><%= competition.descripcion %></td>
        <td><b><%= competition.premio %> €</b></td>
        <td><%= competition.deadline.strftime("%d/%m/%Y") %></td>
        <% if competition.dificultad == 'Fácil' %>
          <td><span class="label label-success"><%= competition.dificultad %></span></td>
        <% elsif competition.dificultad=="Medio" %>
          <td><span class="label label-warning"><%= competition.dificultad %></span></td>
        <% elsif competition.dificultad=="Experto" %>
          <td><span class="label label-danger"><%= competition.dificultad %></span></td>
        <% end %>
        <% if current_user.admin? %>
          <td><%= link_to "Editar", edit_competition_path(competition), class: "btn btn-primary btn-xs"%>
          <%= link_to "Ver", competition_path(competition), class: "btn btn-info btn-xs" %>
          <%= link_to "Eliminar", competition_path(competition), method: :delete,
                data: {confirm: "¿Estás seguro?"}, class: "btn btn-danger btn-xs" %></td>
        <% else %>
        <td><%= link_to "Ver más", competition_path(competition), class: "btn btn-info btn-xs" %></td>
        <% end %>
      </tr>
  <% end %>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
