<h3>New Competition</h3>

<%= render 'shared/errors', obj: @competition %>

<%= form_for @competition do |f| %>
  <!-- Details -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Details</h3>
       <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
      <div class="form-group col-xs-12">
        <%= f.label :title %>
        <%= f.text_field :titulo, class: "form-control" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :summary %>
        <%= f.text_field :summary, class: "form-control", placeholder: "A brief introduction of the competition content" %>
      </div>
      <div class="form-group col-xs-6">
        <%= f.label :prize %>
        <%= f.text_field :premio, class: "form-control", placeholder: "€" %>
      </div>
      <div class="form-group col-xs-6">
        <%= f.label :start_date %>
        <div class="form-control">
          <!--<div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>-->

          <%= f.datetime_select :startdate, class: "form-control pull-right" %>
        </div>
      </div>
      <div class="form-group col-xs-6">
        <%= f.label :difficulty %>
        <%= f.select(:dificultad, options_for_select([['Easy'], ['Medium'], ['Expert']]), {}, {class: "form-control"}) %>
      </div>
      <div class="form-group col-xs-6">
        <%= f.label :end_date %>
        <div class="form-control">
          <!--<div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>-->

          <%= f.datetime_select :deadline, class: "form-control pull-right" %>
        </div>
      </div>
      <div class="form-group col-xs-6">
        <%= f.label :Competition_type %> <br>
        <%= f.radio_button :type_competition, "regression", class: "my_radio" %>
        <%= f.label :type_competition, "Regression"%>
        &nbsp;
        <%= f.radio_button :type_competition, "classification", class: "my_radio" %>
        <%= f.label :type_competition, "Classification"%>
      </div>
      <div class="form-group col-xs-6">
        <%= f.label :number_of_groups %>
        <%= f.text_field :nGroups, class: "form-control" %>
      </div>
      <div class="form-group col-xs-6">
        <%= f.label :Performance_metric %>
        <%= f.select(:metric, options_for_select([['Mean Absolute Error'],['Root Mean Squared Error'], ['Weighted Mean Absolute Error'], ['Accuracy'],['Mean Utility']]), {}, {class: "form-control", id: "selectMetric"}) %>
      </div>
      <div class="form-group col-xs-6">
        <%= f.label :winners_by_group %>
        <%= f.text_field :nWinners, class: "form-control" %>
      </div>

      <div class="form-group col-xs-6">
        <%= f.label :import_winners %>
        <select class="form-control compselect">
          <option value="0">No import</option>
          <% Competition.all.order(id: :asc).each do |competition| %>
            <% if competition.nWinners != nil && competition.real_winners > 1 %>
            <option value="<%= competition.id %>"><%= competition.titulo %> - <%= competition.real_winners %>  winners</option>
            <% end %>
          <% end %>
        </select>
        <%= f.hidden_field :idCompImportWinners, class: "idCompImportWinners form-control" %>
      </div>
    </div>

    <div class="box-footer">
      <%= submit_tag "Clear details", :class => 'inputsubmit btn btn-info', :type => 'reset'%>
    </div>
  </div>

  <!-- Overview -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Overview</h3>
       <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
      <div class="form-group col-xs-12">
        <%= f.label :description %>
        <%= f.text_area :descripcion, class: "form-control", rows: "10" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :evaluation %>
        <%= f.text_area :evaluation, class: "form-control", rows: "10" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :prize %>
        <%= f.text_area :prizes, class: "form-control", rows: "10" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :about %>
        <%= f.text_area :about, class: "form-control", rows: "10" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :engagement_contest %>
        <%= f.text_area :engagement, class: "form-control", rows: "10" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :resources %>
        <%= f.text_area :resources, class: "form-control", rows: "10" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :timeline %>
        <%= f.text_area :timeline, class: "form-control", rows: "10" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :tutorial %>
        <%= f.text_area :tutorial, class: "form-control", rows: "10" %>
      </div>
    </div>

    <div class="box-footer">
      <%= submit_tag "Clear overview", :class => 'inputsubmit btn btn-info', :type => 'reset'%>
    </div>
  </div>

  <!-- Data-->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Data</h3>
       <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group col-xs-12">
          <%= f.label :file, "Upload data for training" %><br />
          <%= f.file_field :trainingdata, class: "filestyle form-control",'data-buttonText' => '&nbsp;&nbsp;Select data', 'data-buttonName' => 'btn-primary', 'data-buttonBefore' => true,
          "data-input" => true %>
        </div>
    </div>

    <div class="box-body">
        <div class="form-group col-xs-12">
          <%= f.label :file, "Upload data for test" %><br />
          <%= f.file_field :testdata, class: "filestyle form-control",'data-buttonText' => '&nbsp;&nbsp;Select data', 'data-buttonName' => 'btn-primary', 'data-buttonBefore' => true,
          "data-input" => true %>
        </div>
    </div>

    <div class="box-footer">
      <%= submit_tag "Clear data", :class => 'inputsubmit btn btn-info', :type => 'reset'%>
    </div>
  </div>

  <!-- More -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">More</h3>
       <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
      <div class="form-group col-xs-12">
        <%= f.label :rules %>
        <%= f.text_area :rules, class: "form-control", rows: "10" %>
      </div>
    </div>
    <div class="box-footer">
      <%= submit_tag "Clear more", :class => 'inputsubmit btn btn-info', :type => 'reset'%>
    </div>
  </div>


  <%= f.submit "Create competition", class: "btn btn-primary" %>
  <%= button_tag "Cancel", :type => 'button', class: "btn btn-danger" %>

<% end %>

<script>
  $(document).ready(function() {
    $('.my_radio').change(function() {

      if($(this).val() == "regression") {
        var options = {
          'Mean Absolute Error': 'Mean Absolute Error',
          'Root Mean Squared Error': 'Root Mean Squared Error',
          'Weighted Mean Absolute Error': 'Weighted Mean Absolute Error'
        };
      } else {
        var options = {
          'Accuracy': 'Accuracy',
          'Mean Utility': 'Mean Utility'
        };
      }

      $('#selectMetric').empty();
      $.each(options, function(key, value) {
        $('#selectMetric').append('<option value="' + value + '">' + key + '</option>');
      });
    });

    $(".compselect").val('');
    $('.compselect').change(function() {
      $('.idCompImportWinners').val($(this).val());
    });
  });
</script>
