<div class="col-xs-11">
<h1><%= @competition.titulo %></h1>
<h4><span style="float: right;">Finaliza el <%= @competition.deadline.strftime("%d/%m/%Y") %></span></h4><br>
<br>

<% c = CompetitionUser.where(competition_id: @competition.id).where(user_id: current_user.id).first %>

<ul class="nav nav-pills" id="competitionContentMenu">
  <li id="overview" role="presentation" class="active">
    <%= link_to "Overview", "#overview", :remote => true, html_options = "data-toggle" => "pill" %>
  </li>
  <li id="data" role="presentation">
    <%= link_to "Data", "#data", :remote => true, html_options = "data-toggle" => "pill" %>
  </li>
  <li id="discussion" role="presentation">
    <%= link_to "Discussion", "#discussion", :remote => true, html_options = "data-toggle" => "pill" %>
  </li>
  <li id="leaderboard" role="presentation">
    <%= link_to "Leaderboard", "#leaderboard", :remote => true, html_options = "data-toggle" => "pill" %>
  </li>
  <li id="more" role="presentation">
    <%= link_to "More", "#more", :remote => true, html_options = "data-toggle" => "pill" %>
  </li>
  <% if c == nil || !@competition.started %>
    <%= button_tag "", class: "btn btn-flat btn-success pull-right disabled", style: "height: 41px; color: white;" do %>
      <i class="fa fa-send-o"></i>  Submit Prediction
    <% end %>
    <%= button_tag "", class: "btn btn-flat btn-info pull-right disabled", style: "height: 41px; color: white;" do %>
      <i class="fa fa-commenting-o"></i>  New Topic
    <% end %>
  <% else %>
    <%= link_to edit_competition_user_path(c), class: "btn btn-flat btn-success pull-right", style: "height: 41px; color: white;" do %>
        <i class="fa fa-send-o"></i>  Submit Prediction
    <% end %>
    <%= link_to new_competition_topic_path(@competition), class: "btn btn-flat btn-info pull-right", style: "height: 41px; color: white;" do %>
        <i class="fa fa-commenting-o"></i>  New Topic
    <% end %>
  <% end %>

</ul>


<div class="nav-tabs-custom" id="detailed_competition">
  <%= render '/competitions/tab_overview' %>
</div>

<% if current_user.admin? %>
  <%= link_to "Update this competition", edit_competition_path(@competition), class: "btn bg-orange" %>
  <%= link_to " Back", competitions_path, class: "btn btn-primary" %>
<% else %>
  <% if c!= nil %>
    <%= link_to "Enrolled!", competition_users_path(:competition_id => @competition.id, :user_id => current_user.id), :method => :post, class: "btn btn-warning disabled" %>
    <%= link_to " Back", competitions_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to competition_users_path(:competition_id => @competition.id, :user_id => current_user.id), :method => :post, class: "btn btn-success " do %>
      <i class="fa fa-user"></i>  Enroll
    <% end %>
    <%#= link_to new_group_path(@competition.id), class: "btn btn-success" do %>
<!--       <i class="fa fa-group"></i>  Enroll a group -->
    <%# end %>

    <%= link_to "Back", competitions_path, class: "btn btn-primary" %>
  <% end %>
<% end %>
</div>
