<h1>Mostrando la competición seleccionada</h1>

<p>
  Título: <%= @competition.titulo %>
</p>

<p>
  Descripción: <%= @competition.descripcion %>
</p>

<p>
  Premio: <%= @competition.premio %> €
</p>

<p>
  Dificultad: <%= @competition.dificultad %>
</p>

<p>
  Fecha final: <%= @competition.deadline %>
</p>

<%= link_to "Actualizar esta competición", edit_competition_path(@competition) %> |
<%= link_to "Volver a competiciones activas", competitions_path %>
