<html>
<body class="body">
<%= devise_error_messages! %>

<div class="login-box">
  <div class="login-logo">
    <a><b>App</b>TFG</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, placeholder: "Email",type: "email", class: "form-control" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", type: "password", class: "form-control", placeholder: "Password"%>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <% if devise_mapping.rememberable? -%>
          <div class="field iCheck-helper">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end -%>
        </div>
        <div class="actions col-xs-5">
          <%= f.submit "Sign In", class: "btn btn-primary btn-block btn-flat" %>
        </div>
      </div>

    <% end %>
    <br>
    <%= render "devise/shared/links" %>


    <div class="social-auth-links text-center">
      <p>- O -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign In with Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign In with Google+</a>
    </div>
    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</body>

</html>
